<section class="register section">
  <div class="container ">
    <div class="card border-0 shadow-lg">
      <div class="card-body p-0">
        <div class="row ">
          <div class="col-lg-6 d-none d-lg-block p-0 image" >
          </div>
          <div class="col-lg-6 bg-second">
            <div class="py-5 px-2">
              <div class="text-center">
                <img src="assets/image/logo.png" height="72" class="mb-3" alt="">
                <h1 class="h4 fc-gray mb-4">Log in to GameOver</h1>
              </div>
              <form [formGroup]="register" (ngSubmit)="handleRegister(register)"  class="ng-dirty ng-touched ng-valid ">
                <div class="form-group row">
                  <div class="form-group mb-3"><input formControlName="email" type="email" name="email" placeholder="Email Address" autocomplete="off" required=""
                    class="form-control form-control-user deep-dark text-white ng-dirty ng-valid py-2 ng-touched">
                    <p class="alert alert-warning py-0 mt-1" *ngIf="email?.getError('required')&& email?.dirty">Required</p>
                    <p class="alert alert-warning py-0 mt-1" *ngIf="email?.getError('email')">InValid Format</p>
                    <p class="alert alert-warning py-0 mt-1" *ngIf="email?.getError('pattern')">InValid Format[com,net]</p>
                  </div>
                  <div  class="form-group mb-3">
                    <input formControlName="password" type="password" name="password" placeholder="Password" autocomplete="off" required=""
                    class="form-control form-control-user text-white deep-dark ng-dirty ng-valid ng-touched py-2">
                    <p class="alert alert-warning py-0 mt-1" *ngIf="password?.getError('required')&& password?.dirty">Required</p>
                    <p class="alert alert-warning py-0 mt-1" *ngIf="password?.getError('maxlength')">Max Length 5 Char</p>
                  </div>
                  <p class="alert alert-warning py-0 mt-1 mb-3 submitButton" *ngIf="msg">{{msg}}</p>
                  <button  type="submit" name="submitButton" class="btn btn-primary text-white submitButton  w-100 py-2  btn-user btn-block">
                    <i class="fa-solid fa-spinner fa-spin" style="color: #1887dc; font-size: 30px;" *ngIf="isLoading"></i>
                    <span *ngIf="!isLoading">Create Account</span>
                  </button>
                </div>
              </form>
            <hr >
            <div class="text-center mt-2">
              <div class="text-muted small my-1">
                <span class="cursor fw-small text-primary" (click)="forgotPassword()">Forgot Password?</span>
              </div>
          </div>
            <div  class="text-center fw-mid">
              <span  class="small fc-gray">Not a member yet?</span>
              <a  routerlink="/register" class="small a2 cursor ms-2" href="/register">Create Account
                <i  class="fas fa-chevron-right small"></i>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

