<section class="header mt-5 text-center">
  <div class="container mt-5 mb-2">
    <h1 class="fw-vlarge fc-gray">Find & track the best
      <span class="text-primary">free-to-play</span>
      games!
    </h1>
    <p  class="lead text-muted">Track what you've played and search for what to play next! Plus get free premium loot! </p>
    <p ><a  role="button" class="btn btn-outline-secondary btn-md ml-0 fw-mid" (click)="getAll()">Browse Games</a></p>
  </div>
</section>
<section class="main">
  <div class="container p-0 my-5 ">
    <h3 class="fc-gray "><i  class="fas fa-robot me-2"></i>Personalized Recommendations</h3>
    <div class="row mt-3 g-3">
      <div class="col-md-4" id="365" (click)="getId(365)">
        <div class="game card mb-4 grow shadow">
          <div class="gameImage">
            <img src="https://www.freetogame.com/g/365/thumbnail.jpg" class="w-100" alt="">
          </div>
          <div class="game-body d-flex justify-content-between align-items-center p-3">
            <h4 class="card-title text-truncate fc-gray">Naruto Online</h4>
            <span class="badge badge-ftg py-2 px-2 float-right">FREE</span>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="475" (click)="getId(475)">
        <div class="game card mb-4 grow shadow">
          <div class="gameImage">
            <img src="https://www.freetogame.com/g/475/thumbnail.jpg" class="w-100" alt="">
          </div>
          <div class="game-body d-flex justify-content-between align-items-center p-3">
            <h4 class="card-title text-truncate fc-gray">Genshin Impact</h4>
            <span class="badge badge-ftg py-2 px-2 float-right">FREE</span>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="523" (click)="getId(523)">
        <div class="game card mb-4 grow shadow">
          <div class="gameImage">
            <img src="https://www.freetogame.com/g/523/thumbnail.jpg" class="w-100" alt="">
          </div>
          <div class="game-body d-flex justify-content-between align-items-center p-3">
            <h4 class="card-title text-truncate fc-gray">Fall Guys</h4>
            <span class="badge badge-ftg py-2 px-2 float-right">FREE</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
